@font-face {
	font-family: Magneto;
	src: url(MAGNETOB.TTF);
}


body {
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 310px;
	background-color: #2388db;
	color: white;
}

#header_content {
	margin-left: 150px;
}

#invention_name {
	font-family: Magneto;
	margin: 0;
	padding: 0;
	padding-top: 50px;
	font-size: 90px;
}

#inventors {
	margin: 0;
	margin-top: 0px;
	padding: 0;
	font-size: 30px;
}

#instructions {
	margin-top: 75px;
	font-size: 20px;
}

#bottom_content {
	padding-top: 50px;
	padding-left: 165px;
}

.pic {
	width: 260px;
	height: auto;
	position: relative;
	cursor: pointer;
	margin-right: 80px;
}

.pic:hover {
	top: -10px;
}
